<div class="container container-main p-t-3 p-b-3">
  <div class="row">
    <div class="col-sm-12">
      <h1 class="menu-header">Menu</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-md-offset-2 col-md-8 col-lg-offset-3 col-md-6">
      <h2>Better Meats</h2>
      <% @meats.each do |meat| %>
        <div class="row">
          <div class="col-xs-12">
            <span class="pull-left"><%= meat.name %></span>   <span class="pull-right"><%= meat.price %></span>
          </div>
        </div>
      <% end %>
      <div>* Each order comes with 4oz of your favorite Better Sauce</div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-md-offset-2 col-md-8 col-lg-offset-3 col-md-6">
      <h2>Better Sandwiches</h2>
      <div class="row">
        <div class="col-xs-12">
          <span class="pull-left">Pulled Pork</span>   <span class="pull-right">Small $2.73 Large $3.65 3 Sliders $3.65</span>
          <span class="pull-left">Sliced Brisket</span>   <span class="pull-right">$7.29</span>
          <span class="pull-left">Rib</span>   <span class="pull-right">$7.29</span>
          <span class="pull-left">Sliced Cold Turkey</span>   <span class="pull-right">$5.47</span>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-md-offset-2 col-md-8 col-lg-offset-3 col-md-6">
      <h2>Sides</h2>
      <% @sides.each do |side| %>
        <div><%= side.name %></div>
      <% end %>
    </div>
  </div>

  <div class="row">
      <div class="col-xs-12 col-md-offset-2 col-md-8 col-lg-offset-3 col-md-6">
        <h2>Nachos</h2>
      </div>
  </div>
  <div class="row">
      <div class="col-xs-12 col-md-offset-2 col-md-8 col-lg-offset-3 col-md-6">
        <h2>Potatoes</h2>
      </div>
  </div>
  <div class="row">
      <div class="col-xs-12 col-md-offset-2 col-md-8 col-lg-offset-3 col-md-6">
        <h2>Salads</h2>
      </div>
  </div>
  <div class="row">
      <div class="col-xs-12 col-md-offset-2 col-md-8 col-lg-offset-3 col-md-6">
        <h2>Plates</h2>
      </div>
  </div>
  <div class="row">
      <div class="col-xs-12 col-md-offset-2 col-md-8 col-lg-offset-3 col-md-6">
        <h2>Drinks</h2>
      </div>
  </div>
  <div class="row">
      <div class="col-xs-12 col-md-offset-2 col-md-8 col-lg-offset-3 col-md-6">
        <h2>Tea</h2>
      </div>
  </div>
  <div class="row">
      <div class="col-xs-12 col-md-offset-2 col-md-8 col-lg-offset-3 col-md-6">
        <h2>Breads</h2>
      </div>
  </div>
  <div class="row">
      <div class="col-xs-12 col-md-offset-2 col-md-8 col-lg-offset-3 col-md-6">
        <h2>Sauces</h2>
      </div>
  </div>
  <div class="row">
      <div class="col-xs-12 col-md-offset-2 col-md-8 col-lg-offset-3 col-md-6">
        <h2>Better Family Pack</h2>
      </div>

    </div>

  </div>









    <div class="row">
      <div class="col-sm-6 col-md-3 no-gutter">
        <%= image_tag 'pork-sammy.jpg', class: "img-responsive" %>
      </div>
      <div class="col-sm-6 col-md-3 no-gutter">
        <%= image_tag 'pulled.jpg', class: "img-responsive" %>
      </div>
      <div class="col-sm-6 col-md-3 no-gutter">
        <%= image_tag 'ribs.jpg', class: "img-responsive" %>
      </div>
      <div class="col-sm-6 col-md-3 no-gutter">
        <%= image_tag 'pulled.jpg', class: "img-responsive" %>
      </div>

    </div>

  </div>