<div class="container container-main p-t-2 p-b-2">

  <div class="row">
    <div class="col-sm-12">
      <h1 class="menu-header">Menu</h1>
    </div>
  </div>

  <div class="row m-t-20">
    <div class="col-xs-12 col-md-offset-2 col-md-8 col-lg-offset-3 col-md-6">
      <h2>Better Meats</h2>
      <% @meats.each do |meat| %>
        <div class="row">
          <div class="col-xs-12">
            <span class="pull-left"><%= meat.name %></span>   <span class="pull-right"><%= meat.price %></span>
          </div>
        </div>
      <% end %>
      <div style="text-align: center;">* Each order comes with 4oz of your favorite Better Sauce</div>
    </div>
  </div>

  <div class="row m-t-20">
    <div class="col-xs-12 col-md-offset-2 col-md-8 col-lg-offset-3 col-md-6">
      <h2>Better Sandwiches</h2>
      <div class="row">
        <div class="col-xs-12">
          <span class="pull-left">Pulled Pork</span>   <span class="pull-right">Small $2.73 &nbsp;&nbsp;&nbsp; Large $3.65 &nbsp;&nbsp;&nbsp; 3 Sliders $3.65</span><br />
          <span class="pull-left">Pulled Chicken</span>   <span class="pull-right">$4.56 &nbsp;&nbsp;&nbsp; 3 Sliders $3.65</span><br />
          <span class="pull-left">Pulled Turkey</span>   <span class="pull-right">$4.56 &nbsp;&nbsp;&nbsp; 3 Sliders $3.65</span><br />
          <span class="pull-left">Sliced Brisket</span>   <span class="pull-right">$7.29</span><br />
          <div style="text-align: center;">* Add Lots of Cheese $0.91; Ask for Cole Salw, Pickles, or Mayo</div>
        </div>
      </div>
    </div>
  </div>

  <div class="row m-t-20">
    <div class="col-xs-12 col-md-offset-2 col-md-8 col-lg-offset-3 col-md-6">
      <h2>Sides</h2>
      <div style="text-align:center;">
      <% @sides.each do |side| %>
        <div><%= side.name %></div>
      <% end %>
      <br /><span class="">Individual $1.82 &nbsp;&nbsp;&nbsp; Pint $3.65 &nbsp;&nbsp;&nbsp; Quart  $7.29 &nbsp;&nbsp;&nbsp; Gallon $27.33</span>
    </div>
    </div>
  </div>

  <div class="row m-t-20">
      <div class="col-xs-12 col-md-offset-2 col-md-8 col-lg-offset-3 col-md-6">
        <h2>Nachos</h2>
        <h4>Pork, Chicken or Turkey</h4>
        <p>Chips, Choice of Meats, Cheese, Jalapeno, Better Sauce, Green Onion & Grape Tomato. Sour cream on the side.</p>
        <div class="center-block item-pricing" style="text-align: center;">
          Small  $5.47  Large $9.11<br />
          <i>Make Better with Brisket</i><br />
          Small  $0.91  Large $1.82<br />
        </div>

      </div>
  </div>

  <div class="row m-t-20">
      <div class="col-xs-12 col-md-offset-2 col-md-8 col-lg-offset-3 col-md-6">
        <h2>Potatoes</h2>
        <h4>Pork, Chicken or Turkey</h4>
        <p>Hickory Baked Potato, Meat, Cheese, Green Onion & Better Sauce. Bacon Bits, Sour Cream &amp; Butter on the side.</p>
        <div class="center-block item-pricing" style="text-align: center;">
          Small  $5.47  Large $9.11<br />
          <i>Make Better with Brisket</i><br />
          Small  $0.91  Large $1.82<br />
        </div>
      </div>
  </div>

  <div class="row m-t-20">
      <div class="col-xs-12 col-md-offset-2 col-md-8 col-lg-offset-3 col-md-6">
        <h2>Salads</h2>
        <h4>Pork, Chicken, Turkey or Cold Sliced Turkey</h4>
        <p>Iceberg Lettuce, Cheese, Grape Tomato,Green Onion, Cucumber, & Croutons. Meat (in foil), Dressing &amp; Crackers on the side.</p>
        <div class="center-block item-pricing" style="text-align: center;">
          Small  $5.47  Large $9.11<br />
          <br>
          <u>Salad Dressings</u><br>
          Bleu Cheese, Fat Free Ranch, French, Honey Mustard, Italian, Ranch & Thousand Island<br>
          <i>*Individual servings of salad dressing $0.91</i>
        </div>
      </div>
  </div>

  <div class="row m-t-20">
      <div class="col-xs-12 col-md-offset-2 col-md-8 col-lg-offset-3 col-md-6">
        <h2>BBQ Plates</h2>
        <p>Generous portion of BBQ and your choice of 2 sides.<br />Bun, Pickle Spear and Better Sauce on the side.</p>
        <span class="pull-left">Pork</span>   <span class="pull-right">$7.29</span><br />
        <span class="pull-left">Chicken</span>   <span class="pull-right">$7.29</span><br />
        <span class="pull-left">Turkey</span>   <span class="pull-right">$7.29</span><br />
        <span class="pull-left">Brisket</span>   <span class="pull-right">$8.20</span><br />
        <span class="pull-left">1/2 Rack Spare Rib</span>   <span class="pull-right">$14.58</span><br />
      </div>
  </div>

  <div class="row m-t-20">
      <div class="col-xs-12 col-md-offset-2 col-md-8 col-lg-offset-3 col-md-6">
        <h2>Drinks</h2>
        <p><span class="pull-left">Proudly serving Coca-Cola Products</span>  <span class="pull-right" style="text-align: right;">20oz - $0.91<br />2-Liter - $1.82</span></p>
      </div>
  </div>
  <div class="row m-t-20">
      <div class="col-xs-12 col-md-offset-2 col-md-8 col-lg-offset-3 col-md-6">
        <h2>Tea</h2>
         <p><span class="pull-left">Sweet Tea</span>  <span class="pull-right" style="text-align: right;">1/2 Gallon - $1.82<br />Gallon - $3.64</span></p>
      </div>
  </div>
  <div class="row m-t-20">
      <div class="col-xs-12 col-md-offset-2 col-md-8 col-lg-offset-3 col-md-6">
        <h2>Breads</h2>
         <p><span class="pull-left">8 pack of Hamburger Buns</span>  <span class="pull-right" style="text-align: right;">$2.73</span></p>
      </div>
  </div>
  <div class="row m-t-20">
      <div class="col-xs-12 col-md-offset-2 col-md-8 col-lg-offset-3 col-md-6">
        <h2>Sauces</h2>
        <p>Alabama White, Carolina Gold Mustard, House Vinegar, KC Sweet & TN Bold</p>
        <p style="text-align:center;">4oz - $0.91<br />8oz - $1.82</p>
      </div>
  </div>
  <div class="row m-t-20">
      <div class="col-xs-12 col-md-offset-2 col-md-8 col-lg-offset-3 col-md-6">
        <h2>Extras</h2>
        <span class="pull-left">Chips</span>  <span class="pull-right" style="text-align: right;">$0.91</span><br />
        <span class="pull-left">Brownie</span>  <span class="pull-right" style="text-align: right;">$1.82</span><br />
        <span class="pull-left">Dog Treat</span>  <span class="pull-right" style="text-align: right;">$0.91</span><br />
      </div>
  </div>
    <div class="row m-t-20">
      <div class="col-xs-12 col-md-offset-2 col-md-8 col-lg-offset-3 col-md-6">
        <h2>Seasoning</h2>
        <p><span class="pull-left">Better Days House Seasoning 4oz</span>  <span class="pull-right" style="text-align: right;">$2.73</span></p>
      </div>
  </div>

  <div class="row m-t-20">
      <div class="col-xs-12 col-md-offset-2 col-md-8 col-lg-offset-3 col-md-6">
        <h2>Hickory Bundle</h2>
        <p><span class="pull-left">The same hickory wood we use in house.</span>  <span class="pull-right" style="text-align: right;">$5.47</span></p>
      </div>
  </div>

  <div class="row m-t-20">
      <div class="col-xs-12 col-md-offset-2 col-md-8 col-lg-offset-3 col-md-6">
        <h2>Better Family Pack</h2>
        <p><span class="pull-left">2 Pounds of Pork, 2 Pint Sides, 8oz of Sauce, 8 Pack of Buns</span>  <span class="pull-right" style="text-align: right;">$22.78</span></p>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-6 col-md-3 no-gutter">
      <%= image_tag 'better_days_sandwich.jpg', class: "img-responsive" %>
    </div>
    <div class="col-sm-6 col-md-3 no-gutter">
      <%= image_tag 'better_days_salad.jpg', class: "img-responsive" %>
    </div>
    <div class="col-sm-6 col-md-3 no-gutter">
      <%= image_tag 'smoked-spare-rib.jpg', class: "img-responsive" %>
    </div>
    <div class="col-sm-6 col-md-3 no-gutter">
      <%= image_tag 'smoked_chicken_wings.jpg', class: "img-responsive" %>
    </div>
  </div>
</div>
